@model IEnumerable<BanSach.Models.Banner>

<div class="row">
    @foreach (var banner in Model)
    {
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 mt-1">
            <div class="card border-0 bg-dark" id="banner-@banner.BannerID">
                <!-- Kiểm tra nếu có link trong banner -->
                <a href="@banner.Link" id="~/@banner.BannerID" >
                    <img src="~/Content/img/@banner.HinhAnh" class="d-block rounded-1 img-fluid" alt="@banner.MoTa" id="img-@banner.BannerID">
                </a>
            </div>
        </div>
    }
</div>
