@model IEnumerable<BanSach.Models.Slide>
<div id="carouselExampleAutoplaying" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner">
        @foreach (var item in Model)
        {
            <div class="carousel-item @(item.Slide_ID == Model.FirstOrDefault().Slide_ID ? "active" : "")">
                <a href="@item.Link">
                    <img src="~/assets/images/slide/@item.HinhAnh" 
                         class="rounded-1  w-100" 
                         alt="@item.MoTa" 
                         style="max-height:500px;">
                </a>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



