@using PagedList.Mvc;

@model PagedList.IPagedList<BanSach.Models.SanPham>
@{
    ViewBag.Title = "Sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card-pro {
        text-decoration: none;
        border-radius: 10px;
        padding: 5px;
        text-align: center;
        margin-top: 20px;
        transition: transform 0.2s, box-shadow 0.2s; /* Thêm hiệu ứng cho card */
    }

        .card-pro:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Thêm hiệu ứng shadow */
        }

        /* Bỏ gạch chân cho tất cả các liên kết trong card */
        .card-pro a {
            text-decoration: none; /* Không có gạch chân */
            color: inherit; /* Kế thừa màu sắc từ phần tử cha */
        }

    .sotrang {
        text-align: center;
        margin: 15px 0 5px 0;
    }

        .sotrang a {
            padding: 5px;
            border-radius: 5px;
        }

            .sotrang a:hover {
                background-color: blanchedalmond;
            }

    .dieuhuongtrang {
        width: fit-content;
        text-align: center;
        margin: 30px auto;
    }

        .dieuhuongtrang li a {
            color: white;
            padding: 10px;
            margin: 2px;
        }

        .dieuhuongtrang .active a, .dieuhuongtrang .active a:hover {
            background-color: #C92127;
            color: white;
            border-radius: 10px;
        }

        .dieuhuongtrang li a:hover {
            background-color: white;
            color: black;
            border-radius: 10px;
        }

    h5 {
        color: white;
        margin: 20px auto;
    }
</style>

<h3 class="text-center text-white font-weight-bold">Danh sách sản phẩm</h3>
<div class="container">
    <div class="row">
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card-pro bg-light">
                        <a href="~/SanPhams/TrangSP/@item.IDsp">
                            <img src="~/Content/img/@item.HinhAnh" class="img-fluid" alt="@item.TenSP" style="max-height: 250px;" />
                            <p class="text-success font-weight-bold">Còn hàng</p>
                            <p class="font-weight-bold">@Html.DisplayFor(model => item.TenSP)</p>
                            <p class="text-danger font-weight-bold">
                                @string.Format("{0:N0} VND", item.GiaBan)
                            </p>
                        </a>
                    </div>
                </div>
            }
        }
        else
        {
            <h5>Chưa có thông tin sản phẩm</h5>
        }
    </div>
    <div class="dieuhuongtrang">
        @Html.PagedListPager(Model, page => Url.Action("ProductList", new { page }))
    </div>
</div>
