@using PagedList.Mvc;

@model PagedList.IPagedList<BanSach.Models.SanPham>
@{
    ViewBag.Title = "Sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .card-pro {
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 5px;
        text-align: center;
        margin-top: 20px;
    }

        .card-pro:hover {
            -moz-box-shadow: 0 4px 8px 0 grey;
            -webkit-box-shadow: 0 4px 8px 0 grey;
            text-decoration: none;
        }

        .card-pro a:hover {
            text-decoration: none;
        }

    .sotrang {
        text-align: center;
        margin: 15px 0 5px 0;
    }

        .sotrang a {
            padding: 5px;
            border-radius: 5px;
        }

            .sotrang a:hover {
                text-decoration: none;
                background-color: blanchedalmond;
            }

    .dieuhuongtrang {
        width: fit-content;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
    }

        .dieuhuongtrang li a {
            color: white;
            padding: 10px;
            margin: 2px;
        }

        .dieuhuongtrang .active a, .dieuhuongtrang .active a:hover {
            background-color: #C92127;
            color: white;
            border-radius: 10px;
            text-decoration: none;
        }

        .dieuhuongtrang li a:hover {
            background-color: white;
            color: black;
            border-radius: 10px;
            border: none;
            text-decoration: none;
        }

    h5 {
        color: white;
        margin-left: auto;
        margin-right: auto;
        margin-top:20px;
    }
</style>

<h3 style="text-align:center;color:white;font-weight:bold;">Danh sách sản phẩm</h3>
<div class="container">
    <div class="row">
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <div class="col-sm-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card-pro" style="background-color: white;">
                        <a href="~/SanPhams/TrangSP/@item.IDsp">
                            <img src="~/Content/img/@item.HinhAnh" width="200" height="250" />
                            <p style="background-color: white; color: green; font-size: 14px; padding-right: 5px;">Còn hàng</p>
                            <p style="color:black; font-weight:bold;">@Html.DisplayFor(model => item.TenSP)</p>
                            <br />
                            <p style="color:red;">
                                @String.Format("{0:C0}", item.GiaBan)
                            </p>
                        </a>
                    </div>
                </div>
            }
        }
        else
        {
            <h5> Chưa có thông tin sản phẩm</h5>
        }

    </div>
    <div class="dieuhuongtrang">
        @Html.PagedListPager(Model, page => Url.Action("ProductList", new { page }))
    </div>
</div>

