@keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

.card-body {
    padding: 20px;
}

.kt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pk {
    margin: 10px;
    flex: 1 1 200px; /* Tự động điều chỉnh kích thước và xuống hàng nếu không đủ không gian */
}

.pk-1 {
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.pk-2 a {
    color: #ccc;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

    .pk-2 a:hover {
        color: white;
    }

@media screen and (max-width: 768px) {
    .kt {
        flex-direction: column;
        align-items: flex-start;
    }

    .pk {
        margin: 10px 0;
    }
}

/* Responsive Footer Styles */
.ft {
    margin-top: auto;
    border-top: 1px solid black;
    color: black;
    background-color: #1f1f20;
    border-radius: 10px;
    padding: 20px 10px;
}

.p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap; /* Allows items to wrap in smaller screens */
}

.pk {
    flex: 1; /* Distribute available space evenly */
    margin: 10px;
    min-width: 200px; /* Ensure a minimum width for items */
}

.pk-1 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 20px;
    color: white;
}

.pk-2 {
    font-size: 15px;
    margin: 10px 0px;
    color: white;
}

    .pk-2 a {
        text-decoration: none;
        color: white;
    }

        .pk-2 a:hover {
            color: red;
        }

    .pk-2 i {
        width: 20px;
    }

.pk-3 a {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: green;
    font-size: 15px;
}

.pk-3 i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
}

@media (max-width: 768px) {
    .p {
        flex-direction: column;
        align-items: center; /* Center items vertically for smaller screens */
        text-align: center;
    }

    .pk {
        margin: 20px 0; /* Adds vertical space between footer sections */
    }
}

@media (max-width: 576px) {
    .ft {
        padding: 10px; /* Reduce padding for smaller screens */
    }

    .pk-1 {
        font-size: 14px; /* Smaller font for section headers */
    }

    .pk-2 {
        font-size: 13px; /* Smaller font for section items */
    }

        .pk-2 i {
            width: 15px; /* Reduce icon size */
        }
}
