
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-white">Quên mật khẩu</h2>

<form action="/LoginUser/ForgotPassword" method="post">
    <div>
        <label for="email">Nhập tài khoản hoặc email:</label>
        <input type="text" id="email" name="email" required />
    </div>
    <button type="submit">Gửi yêu cầu</button>
</form>

@if (ViewBag.ErrorMessage != null)
{
    <div style="color: red;">@ViewBag.ErrorMessage</div>
}
@if (ViewBag.SuccessMessage != null)
{
    <div style="color: green;">@ViewBag.SuccessMessage</div>
}
