
@{
    ViewBag.Title = "CheckOut_Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<center>
    
    <img src="~/Content/img/icon_thanhcong.png"alt="Icon thành công" />
    <h2 class="text-white">Thanh toán thành công</h2>
</center>
<style>
    img{
        max-width:5%;
    }
    h2{
        margin-top:10px;
    }
</style>