@model BanSach.Models.DonHang
@{
    ViewBag.Title = "Thanh Toán Thành Công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center text-white">
    <h2>Thanh toán thành công</h2>
    <p>Mã đơn hàng: <span class="text-danger fw-semibold">@ViewBag.OrderId</span></p>
    <p>Tổng số tiền: <span class="text-danger fw-semibold">@(ViewBag.TotalAmount != null ? String.Format("{0:#,##0 VNĐ}", ViewBag.TotalAmount) : "Không xác định")</span></p>
    <p>Cảm ơn bạn đã mua sắm tại cửa hàng!</p>
    <a href="@Url.Action("ShowCart", "ShoppingCart")" class="btn btn-primary">Quay lại giỏ hàng</a>
</div>