@{
    ViewBag.Title = "Cập nhật thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
    <div style="text-align: center;">
        <h2 style="color: #11cb97; font-size: 3em; margin-bottom: 20px;">Cập nhật thành công</h2>
        <p style="font-size: 1.2em; color: white;">Thông tin của bạn đã được cập nhật thành công. Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi.</p>
        <a href="~/SanPhams/TrangChu" style="display: inline-block; margin-top: 20px; padding: 10px 20px; background-color: #11cb97; color: #fff; text-decoration: none; border-radius: 5px; font-weight: bold;">
            Quay lại trang chủ
        </a>
    </div>
</div>
