@model IEnumerable<BanSach.Models.ViewModel>
<link href="~/Content/css/topbanchay.css" rel="stylesheet" />

<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.0/css/all.css">
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.0/css/sharp-solid.css">
<div class="container-fluid py-5">
    <div class="text-center mb-4">
        <h2 class="px-5">
            <span class="px-2" style="font-weight:bold;color:white;">Sản phẩm bán chạy</span>
        </h2>
    </div>
    <div class="row px-xl-4">
        <div class="col d-md-flex">
            <div class="owl-carousel related-carousel">
                @foreach (var i in Model)
                {
                    <div class="card product-item">
                        <a href="~/SanPhams/TrangSP/@i.IdPro">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent rounded-sm text-center">
                                <img src="~/Content/img/@i.ImgPro" alt="@Html.DisplayFor(model => i.NamePro)" style="width: 200px; height: 200px; object-fit: cover; border-radius: 10px;">
                            </div>
                            <div class="card-body text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3">@Html.DisplayFor(model => i.NamePro)</h6>
                                <div class="d-flex justify-content-center">
                                    <p style="color:red;" class="font-weight-bold">
                                        @string.Format("{0:N0} VND", i.price)
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
