@model IEnumerable<BanSach.Models.Banner>

<div >
    
    <div class="row">
        @foreach (var banner in Model)
        {
            <div class="col-3 mt-1 d-block pe-1 ps-0 ">
                <div class=" border-0 " id="banner">
                    <!-- Kiểm tra nếu có link trong banner -->
                    <a href="@banner.Link">
                        <img src="~/assets/images/banners/@banner.HinhAnh" class="d-block rounded-1 img-fluid " alt="@banner.MoTa">
                    </a>
                </div>
            </div>
        }
    </div>
</div>

