

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Maintenance</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            text-align: center;
            margin-top: 50px;
        }

        h1 {
            color: #ff0000;
        }

        p {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <h1>Website đang bảo trì</h1>
    <p>Chúng tôi sẽ quay lại ngay. Cảm ơn bạn đã kiên nhẫn!</p>
</body>
</html>
